@font-face{
  font-family: "Roboto-Regular";
  src: url(../fonts/Roboto-Regular.ttf);
}

.login-container-u{
  width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image:  linear-gradient(rgba(0, 0, 0,.50) 0% , rgba(0, 0, 0,.50)), url('../assets/imagenes/fondo-pricipal.jpg');
    background-size: cover;
}
.login-content-u{
  width: 35%;
  background: rgb(22, 38, 68);
  border-radius: 10px;
  border: 1px black solid;
  padding: 10px;
  color: rgb(255, 211, 0);
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.8);
}
.logo-unuminuto{
  padding-top:12px;
  padding-bottom: 20px;
}
p {
  margin-top: 12px;
  color: white;
  font-family: 'Roboto-Regular';
}

.login-container-u .login-content-u .ingresar {
  background: rgb(255, 211, 0);;
  border: 1px;
  margin-top: 12px;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 12px 20px;
  font-size: 15px;
  font-family: 'Roboto-Regular';
  cursor: pointer;
  color: rgb(0, 0, 0);
}

@media(max-width:991px){
  .login-content-u{
    width: 55%;
  }
}
@media(max-width:500px){
  .login-content-u{
    width: 75%;
  }
}
@media(max-width:350px){
  .login-content-u{
    width: 90%;
  }
}

/**********************************************Inicio Sesion********************************************************/
.modal {
  display: none;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color:  rgb(22, 38, 68);
}
.contenedor-img{
  width: 100%;
  height: 100vh;
}
.contenedor-carrousel{
  width: 100%;
  height: 100vh;
}
.modal .modal-content-u .col-sm-7,
.col-sm-5{
  margin: 0%;
  padding: 0;
 }

.modal .modal-content-u .contenedor-carrousel .carousel-inner,
.modal .modal-content-u .contenedor-carrousel .carousel-inner .carousel-item{
  width: 100%;
}
.modal .modal-content-u .contenedor-carrousel .carousel-inner .carousel-item img{
  width: 100%;
  height: 100vh;
  background-size: cover;
}
.contenedor-form{
  width: 100%;
  height: 100%;
  background: rgb(22, 38, 68);
}
.close{
  margin-right: auto;
  width:60px;
  
}
.cancelbtn-u{
  width: auto;
  padding: 8px 16px;
  border-radius: 10px;
  border: none;
  background: rgb(22, 38, 68);
}
.cancelbtn-u i{
  color: white;
}
.logo-unuminuto-u{
  padding-top:30px;
  padding-bottom: 20px;
}
.formulario-inicio{
  width: 50%;
  margin: auto;
}
.formulario-inicio .control-button{
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 10px;
  margin-top: 15px;
  margin-bottom: 10px;
}
.formulario-inicio .control-button.i{
  background:  rgb(223, 186, 2);
  color: white;
  font-family: 'Roboto-Regular';
}
.formulario-inicio .control-button.i:hover{
  background: rgb(2, 66, 241);
}
.formulario-inicio ::placeholder{
  text-align: center;
}
.mensaje{
  width: 100%;
  height: 50px;
  background: red;
  color: white;
  font-size: 24px;
  z-index: 10000;
  text-align: center;
  font-family: 'Roboto-Regular';
}