nav{
    background: #00529b;;
}

.navbar-light .navbar-nav .nav-link.active{
    color: rgb(255, 255, 255);
    border-bottom: 2px yellow solid;
    
}
.navbar-light .navbar-nav .nav-link, .navbar-light .navbar-brand {
    color: white;
}
.navbar-light .navbar-nav .nav-link:hover{
    color: rgb(255, 255, 255);
    border-bottom: 2px yellow solid;
}
footer{
    width: 100%;
    background:#00529b;
    color: white;
    margin-top: 50px;
}
.carousel-inner{
	width: 100%;
	height: 70vh;
}
.carousel-inner .carousel-item{
	width: 100%;
	height: 100%;
}
.carousel-inner .carousel-item img{
	width: 100%;
	height: 100%;
	background-size: cover;
}
.title-one{
    padding-top: 40px;
    padding-bottom: 25px;
    color:#00529b;
}
.title-two{
    padding-top: 30px;
    padding-bottom: 25px;
    text-align: center;
    font-size: 25px;
    color:#00529b;
}
.title-there{
    padding-top: 30px;
    padding-bottom: 25px;
    color: #00529b;
}

.texto-one{
    margin: auto;
    text-align: center;
}
.texto-two{
    width: 90%;
    margin: auto;
    text-align: center;
}
.items{
    list-style: none;
   text-align: center;
   padding-top: 7px;
}
.btn.btn-primary{
    background:#00529b;
    color: white;
    margin-top: 25px;
    margin-bottom: 20px;
}
.btn.btn-primary:hover{
    background: #00529b;
    color: white;
    transform: scale(1.1);
}
.link, .link:hover{
    color: #00529b ;
}

@media (max-width: 768px){

    .navbar-toggler{
        padding: 1px 5px;
        font-size: 19px;
        background: white;
    }
    
}
.col-6{
    margin-top: 20px;
    margin-bottom: 20px;
}