html, body { font-family: "Century Gothic"; font-size: 17px; background-color: #e9e9e9; overflow: hidden; }

html, body, main, .parallax { min-height: 100%; }

/* Custom Scroll bar */
.nano { position: relative; width: 100%; height: 100%; overflow: hidden; }
    .nano > .nano-content { position: absolute; overflow: scroll; overflow-x: hidden; top: 0; right: 0; bottom: 0; left: 0; }
        .nano > .nano-content:focus { outline: thin dotted; }
        .nano > .nano-content::-webkit-scrollbar { display: none; }
.has-scrollbar > .nano-content::-webkit-scrollbar { display: block; }
.nano > .nano-pane { background: rgba(255, 255, 255, 0.25); position: absolute; width: 17px; right: 0; top: 0; bottom: 0; visibility: hidden\9; /* Target only IE7 and IE8 with this hack */ opacity: .01; -webkit-transition: .2s; -moz-transition: .2s; -o-transition: .2s; transition: .2s; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }
.hg-lateral.active .nano > .nano-pane { left: 239px; }
.nano > .nano-pane > .nano-slider { background: #444; background: rgba(6,28,55,.5); position: relative; margin: 0 1px; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; }
.nano:hover > .nano-pane, .nano-pane.active, .nano-pane.flashed { visibility: visible\9; /* Target only IE7 and IE8 with this hack */ opacity: 0.99; }

/* header */
header { height: 75px; position: fixed; width: 100%; top: 0px; z-index: 1000; -webkit-box-shadow: 0px 3px 11px 0px rgba(0,0,0,0.81); -moz-box-shadow: 0px 3px 11px 0px rgba(0,0,0,0.81); box-shadow: 0px 3px 11px 0px rgba(0,0,0,0.81); }
.logo-entidad-contenedor { background-color: #FFFFFF; text-align: center; inset 0px 2px 4px 2px rgba(0,28,54,1); -moz-box-shadow: inset 0px 2px 4px 2px rgba(0,28,54,1); box-shadow: inset 0px 2px 4px 2px rgba(0,28,54,1); }
img.logo-entidad { max-height: 57px; max-width: 80%; opacity: 0.8; margin-bottom: 8px; margin-top: 8px; margin-left: 8px; }
header .navbar .navbar-nav > li > a { color: #FFFFFF; font-size: 1.5rem; background-color: transparent !important; }
header .navbar { margin-bottom: 0px; padding-top: 5px; }
header .navbar .dropdown > a span.nombre-usuario { font-size: 1.3rem; padding: 0px 10px 10px 10px; text-transform: capitalize; }
header .logo-humano-el { width: 171px; margin-top: 5px; }
header .navbar-toggle .icon-bar { background-color: #FFFFFF; }
header .navbar-collapse.collapse, header .navbar-collapse.collapse .navbar-nav { background-color: #061C37; text-align: center; }
header .navbar-right { margin-top: 5px; }



/* Menu principal centro */
main { margin-top: 75px; overflow: auto; height: calc(100vh - 75px); position: relative; }
.hg-menu-principal-contenedor .hg-menu-opcion { height: 130px; border: 1px solid #FFFFFF; margin: 3px; padding-left: 10px; padding-right: 10px; }
.hg-menu-principal-contenedor .hg-icono-resultado .hg-menu-opcion a i { color: #327bb2; }
.hg-menu-principal-contenedor .hg-menu-opcion a { display: block; height: 90%; top: 0px; }
.hg-menu-principal-contenedor a { color: #FFFFFF; text-decoration: none; }
main { background-image: url("../../Imagenes/inicio-bg.jpg"); background-attachment: fixed; background-position: center; background-repeat: no-repeat; background-size: cover; }
.parallax { background: rgba(6, 28, 55, 0.66); }


main .hg-menu-lateral .navbar-nav { position: absolute; left: 10px; top: 28px; z-index: 2000; }
main .hg-menu-lateral .navbar-nav > li > a { font-size: 30px; color: #061C37; background-color: transparent !important; }
/*main .menu-superior { width: 900px; background-color: rgba(6, 28, 55, 0.9) !important; top: 0px; left: 60px; }*/

@media (max-width: 3200px) {
    main .menu-superior { width: 1000px; background-color: rgba(6, 28, 55, 0.9) !important; top: 0px; left: 60px; }
    header .navbar-right ul li a.dropdown-item { color: black;  }
}
@media (max-width: 1359px) {
    main .menu-superior { width: 1000px; background-color: rgba(6, 28, 55, 0.9) !important; top: 0px; left: 60px; }
    header .navbar-right ul li a.dropdown-item { color: black;  }
}
@media (max-width: 1199px) {
    main .menu-superior { width: 900px; background-color: rgba(6, 28, 55, 0.9) !important; top: 0px; left: 60px; }
    header .navbar-right ul li a.dropdown-item { color: black;  }
}
@media (max-width: 991px) {
    main .menu-superior { width: 680px; background-color: rgba(6, 28, 55, 0.9) !important; top: 0px; left: 60px; }
    header .navbar-right ul li a.dropdown-item { color: black;  }
}
@media (max-width: 767px) {
    main .menu-superior { width: 660px; background-color: rgba(6, 28, 55, 0.9) !important; top: 0px; left: 60px; }
    main .hg-menu-lateral .nav.navbar-nav { width: 100%; }
    header .navbar-right ul li a.dropdown-item { color: #FFFFFF; }
    .text-center-xs { text-align: center !important; }
}

/* responsive de campos*/
.hg-btn-responsive { position: relative; top: 23px; }
.hg-txt-responsive { position: relative; top: 23px; }
.hg-txt-lbl-responsive { position: relative; top: 26px; }

.hg-menu-principal-contenedor .hg-menu-opcion { -webkit-transition: background-color 1s ease-out; -moz-transition: background-color 1s ease-out; -o-transition: background-color 1s ease-out; transition: background-color 1s ease-out; }
.hg-menu-principal-contenedor .hg-menu-opcion:hover { background-color: #327bb2; cursor: pointer; }
.hg-menu-principal-contenedor .hg-icono-resultado .hg-menu-opcion:hover a i { color: #FFFFFF; }

.hg-menu-opcion > i { position: absolute; left: 10px; top: 10px; color: #FFFFFF; }
.hg-menu-opcion.activo .hg-ocultar { opacity: 1; animation-name: fadeInOpacity; animation-iteration-count: 1; animation-timing-function: ease-in; animation-duration: 1s; }
.hg-menu-opcion.activo .btn-menu-padre { height: 20px; font-size: 1rem; text-align: left; padding-top: 3px; }
.hg-menu-opcion.activo .btn-menu-padre h1 { font-size: 1.1rem; margin-top: 2px; margin-left: 20px; text-align: left; float: left; margin-right: 15px; }
.hg-menu-opcion.activo .btn-menu-padre.evaluacion-desempeno { font-size: 0.8rem; }
.hg-menu-opcion.activo .menu-hijos a { text-align: left; font-size: 0.8rem; margin-top: 5px; display: list-item; margin-left: 10px; }
.hg-menu-opcion.activo .menu-hijos a:first-child { margin-top: 25px; }
.hg-menu-ed a:first-child { margin-top: 6px; }
.hg-menu-opcion.activo .menu-hijos a:hover { text-decoration: underline; }
@keyframes fadeInOpacity {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

/* General */
.clear { clear: both; }
.divider-2 { height: 5px; clear: both;}
.divider-5 { height: 5px; clear: both; }
.divider-10 { height: 10px; clear: both; }
.divider-15 {height: 5px; clear: both;}
.divider-20 { height: 20px; clear: both; }
.divider-25 { height: 5px; clear: both;}
.divider-30 { height: 30px; clear: both;}
.divider-35 {  height: 5px; clear: both;}
.divider-40 { height: 40px; clear: both; }
.divider-45 { height: 5px; clear: both; }
.hg-bg-azul { background-color: #327bb2; }

.divider-50 { height: 50px; clear: both; }
.alert { margin-bottom: 0px !important; padding: 8px 15px !important; }
.text-bold { font-weight: bold; }
.text-black { color: #000000; }
.text-dark { color: #343a40 !important; }
.text-white { color: #FFFFFF; }
.text-decoration-none { text-decoration: none; }
.separator { border-top: 1px solid #cccccc; border-top-style: dashed; margin: 5px 10px; }
.separator1 { border-top: 1px solid #938c8cf2; border-top-style: dashed; margin: 5px 10px; }
.left { float: left; }
.right { float: right; }
.hg-ocultar { opacity: 0; }
.w-100 { width: 100%; }
.fs-15p { font-size: 15px !important; }
.fw-none { font-weight: 400 !important; }

table.table-no-border, table.table-no-border tr, table.table-no-border, table.table-no-border td {
    border: none !important;
}

/* Formularios */
.hg-contenedor-contenido { height: calc(100vh - 100px); overflow-y: auto; }

.form-container { background-color: #efefef; margin: 0px 15px; border-radius: 5px; opacity: 0.9; padding: 10px 15px; }
#pnlFormulario > .col-sm-12 > .dropdown-divider { clear:  both; }
.form-container.login-container { width: auto; margin: 0 auto; }
.form-container .form-container .form-header { display: none; }
.form-container .form-container .form-body { background: none; border: none; }
.container .form-container { width: auto; }
.form-container { position: relative; padding-top: 10px; }
.form-container .form-header { display: none; /*background-color: #e3e3e3; padding: 4px 15px 6px 15px; border-radius: 5px; font-size: 0.8rem; font-weight: bold; position: fixed; top: 70px; width: 80%;*/ }
.form-container .form-footer { }
.form-container .form-body { }
.form-container .form-body .form-group { margin-bottom: 4px; }
.form-container .form-body .form-group label { margin-bottom: 1px; font-weight: normal; }

.form-container .form-body .FormaEtiqueta { font-weight: normal; color: #dc3545; }
.form-container .row { margin-right: -5px; margin-left: -5px; }
.form-container input.aspNetDisabled:not([type='submit']), .form-container textarea.aspNetDisabled { display: block; width: 100%; font-size: 13px; line-height: 1.42857143; color: #555; background-image: none; border: 1px solid #ccc; border-radius: 4px; -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075); box-shadow: inset 0 1px 1px rgba(0,0,0,.075); -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s; -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s; transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s; }

.form-container .btn-group-xs > .btn, .form-container .btn-xs { padding: 2px 5px; }
.form-container .checkbox, .form-filter .checkbox { margin-top: 0px; margin-bottom: 0px; padding-left: 20px; }
.form-container .checkbox label, .form-filter .checkbox label { font-size: small; padding-left: 10px; }
.form-container .checkbox label::after, .form-filter .checkbox label::after { padding-top: 3px; padding-left: 3px; }
.form-container .table-condensed > tbody > tr > td, .form-container .table-condensed > tbody > tr > th, .form-container .table-condensed > tfoot > tr > td, .form-container .table-condensed > tfoot > tr > th, .form-container .table-condensed > thead > tr > td, .form-container .table-condensed > thead > tr > th { padding: 2px; }
.form-container table.table-last-item-bold tr:last-child { font-weight: bold; }
.form-container table.table-first-item-bold tr:first-child { font-weight: bold; }
.form-container table .table-with-header:first-child, .form-container table .table-with-header:first-child label { background-color: #000080; color: #FFFFFF; }
.form-container .form-body-2 table.table { margin-bottom: 10px; }
.form-container .radio { padding-left: 0px; }
.form-container .radio label { padding-right: 12px; }
.form-container .radio label::before { left: 0px; margin-left: 0px; }
.form-container .radio label::after { left: 3px; margin-left: 0px; }

.form-container form input.error { border-color: #f1a1a1; background-color: #f5eaea; }
.form-container form label.error { color: #f33c3c; }

table.table-last-item-bold tr:last-child { font-weight: bold; }

.form-container table.table { font-weight: normal; }
.form-container table.table-last-item-bold tr:last-child { font-weight: bold; }
.form-container table.table-first-item-bold tr:first-child { font-weight: bold; }
.form-container table.table tr:first-child { background-color: #dfdfdf; text-align: center; font-weight: bold; }
.form-container table.table-with-header tr:first-child, .form-container table.table-with-header tr:first-child label { background-color: #000080; color: #FFFFFF; font-weight: normal; font-size: 12px; }

.btn-info { background-color: #327bb2; color: #FFFFFF; border-color: #327bb2; }


table.column-1-hide tr td:nth-child(1) { display: none; }
table.column-2-hide tr td:nth-child(2) { display: none; }
table.column-3-hide tr td:nth-child(3) { display: none; }
table.column-4-hide tr td:nth-child(4) { display: none; }
table.column-5-hide tr td:nth-child(5) { display: none; }
table.column-6-hide tr td:nth-child(6) { display: none; }
table.column-7-hide tr td:nth-child(7) { display: none; }
table.column-8-hide tr td:nth-child(8) { display: none; }
table.column-9-hide tr td:nth-child(9) { display: none; }
table.column-10-hide tr td:nth-child(10) { display: none; }



/* Formulario */
.formulario .parallax { background: rgba(170, 170, 170, 0.9); }

label.control-label { font-weight: normal; }


.footer { color: #FFFFFF; }
.footer hr { margin-top: 0px; margin-bottom: 0px; }
.footer .logo-sl { width: 140px; margin-top: 2px; }

.formulario .footer { color: #061C37; }
.formulario hr { border-top-color: #061C37; }


.hg-bg-estandar { background-color: #061C37; }
.hg-bg-white { background-color: #FFFFFF; }
.separador-50 { height: 50px; clear: both; }
.separador-40 { height: 40px; clear: both; }
.separador-30 { height: 30px; clear: both; }
.separador-20 { height: 20px; clear: both; }
.separador-10 { height: 10px; clear: both; }
.separador-5 { height: 5px; clear: both; }
.text-bold { font-weight: bold; }

.clear { clear: both; }
.panel-centrado { margin: 0 auto; float: none; }


table.tabla-campos-dinamicos input[type='text'], table.tabla-campos-dinamicos input[type='submit'], table.tabla-campos-dinamicos select { border-radius: 4px; margin-right: 5px; margin-left: 5px; min-width: 38px; padding: 3px 12px; border: 1px solid #ccc; }




/* Fuentes */
.font-family-default { font-family: Verdana, Arial; }
.font-size-11 { font-size: 11px; }
.font-size-16 { font-size: 16px; }
.font-size-18 { font-size: 18px; }
.font-size-20 { font-size: 20px; }
.font-size-22 { font-size: 22px; }

@media print {
    .container { width: 1000px !important; }
    .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 { float: left; }
    .col-sm-12 { width: 100%; }
    .col-sm-11 { width: 91.66666667%; }
    .col-sm-10 { width: 83.33333333%; }
    .col-sm-9 { width: 75%; }
    .col-sm-8 { width: 66.66666667%; }
    .col-sm-7 { width: 58.33333333%; }
    .col-sm-6 { width: 50%; }
    .col-sm-5 { width: 41.66666667%; }
    .col-sm-4 { width: 33.33333333%; }
    .col-sm-3 { width: 25%; }
    .col-sm-2 { width: 16.66666667%; }
    .col-sm-1 { width: 8.33333333%; }
    #ImgLogoEmpresa { margin-top: 2px; margin-left: 2px; }
}

.d-none { display:none; }
.d-block { display: block; }

/*padding*/
.p-0  { padding :0;}
.pl-0 { padding-left :0;}
.pr-0 { padding-right :0;}
.p-l-10 { padding-left: 10px; }
.p-lr-5 { padding: 0 5px 0 5px; }

label.validar-maxlength { display:block; text-align: right; font-family: Tahoma,sans-serif; font-size: small; }
.hg-tabla tr:first-child { color: #007bff; text-align: center; font-weight: bold; }
.hg-tabla  tr:first-child  th { text-align:center; }
.hg-tabla td { position:relative; }


/* Estilo informe vacaciones */
.header-grid {    background-color: #D6D8D9;    padding: 5px;    border-radius: 2px;    font-weight: 700 !important;}


.accordion {
    border-bottom: 1px solid rgba(0,0,0,.125);
    border-radius: 5px 5px 0px 0px;
    background-color: #d7d7d7;
}
.card-header {
    padding: .75rem 1.25rem;
    background-color: #d7d7d7;
    border-bottom: 1px solid rgba(0,0,0,.125);
    margin-left: 15px;
    margin-right: 15px;
    border-radius:2px;
}
.card-content {
    overflow: hidden;
}

.hg-btn-volver {
    font-size: 25px;
    color: #061C37;
    cursor: -webkit-grab;
    cursor: grab;
}
.checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"], .radio input[type="radio"], .radio-inline input[type="radio"] {
    margin-left: 0;
}

.btn-ocultar {
    cursor: pointer;
}

.hg-dropdown-notificaciones { width:500px; } 

.hg-notificaciones-count { position: absolute; top: 10px; right: 5px; font-size: 12px; font-weight: 700; text-align: center; border-radius: 10px; padding: 0px 7px; }

.hg-notificaciones-contenedor{ height: 150px; overflow: auto; font-size: 12px; }

.hg-notificaciones-contenedor .hg-notificaciones-body { height: 150px; overflow: auto; font-size: 12px; padding: 10px; }

.hg-notificaciones-count-text { font-weight: bold; }

.hg-notificaciones-contenedor .hg-notificaciones-body .hg-titulo .desc { float: left; font-weight: bold; } 

.hg-notificaciones-contenedor .hg-notificaciones-body .hg-descripcion .desc { margin: 0px; word-break: break-all; word-wrap: anywhere; }

/* Mensaje modal de ingreso  */
.modal-donacion .modal-header { background-color: #327bb2; color: #FFF; text-align: center; font-weight: bold; border-top-left-radius: 3px; border-top-right-radius: 3px; font-size: 22px; }
.modal.modal-donacion { z-index: 10000; }

/* Formulario de donaciónes */
.hg-texto-html * { background: none !important; font-family: "Century Gothic" !important; font-size: 17px !important; } }